.navbar {
    li {
        color: white;

    }

    li:hover {
        background-image: linear-gradient(to right, #91eb7b, #9fe88d);
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .notter{
        width: 150px;
        height: 100px;
    }
}